<%# locals: () %>
<main class="h-screen" data-controller="game" data-character-id="<%= @character.id %>">
  <div id="container" class="grid h-full">
    <%= render "game/sidebar", character: @character %>
    <%= render "game/chat", room: @character.room %>
    <%= render "game/surroundings", room: @character.room %>
  </div>
</main>

<%= render "game/streams", character: @character %>

<% content_for(:head) do %>
  <script>
    window.Miroha = {
      Settings: {
        aliases: <%== @account.aliases.to_json %>
      }
    };
  </script>

  <%= javascript_importmap_tags %>
<% end %>
