<main class="h-screen" data-controller="game">
  <div id="container" class="grid h-full">
    <%= render "game/sidebar", character: @character %>
    <%= render "game/chat" %>
    <%= render "game/surroundings", room: @character.room %>
  </div>
</main>

<%= render "game/streams", character: @character %>

<% content_for(:head) do %>
  <script type="text/javascript">
    window.I18n = {
      defaultLocale : <%== I18n.default_locale.to_json %>,
      locale        : <%== I18n.locale.to_json %>
    };
  </script>
  <%= javascript_pack_tag "application" %>
<% end %>
