<%# locals: (commands:) %>
<tr data-chat-target="message">
  <td colspan="2" class="message-help">
    <table>
      <tr>
        <th colspan="2"><%= t(".command") %></td>
        <th><%= t(".description") %></td>
      </tr>

      <% commands.each do |command| %>
        <tr>
          <td>
            /<%= command[:name] %>
          </td>
          <td>
            <%= command[:arguments] %>
          </td>
          <td>
            <%= command[:description] %>
          </td>
        </tr>
      <% end %>
    </table>
  </td>
</tr>
