<main class="py-12 w-screen lg:p-12">
  <div class="py-12 px-8 mx-auto w-full max-w-lg">
    <div class="mb-12 text-center">
      <h1 class="text-3xl font-bold text-gray-700"><%= t(".header") %></h1>
    </div>

    <% if flash[:warning].present? %>
      <p class="p-2 m-auto mb-4 w-3/4 text-center bg-yellow-100 rounded border border-yellow-200">
        <%= flash[:warning] %>
      </p>
    <% end %>

    <% if @characters.present? %>
      <ul id="characters" class="m-auto w-3/4">
        <% @characters.each do |character| %>
          <li>
            <% if character.recent? %>
              <div class="block p-4 w-full font-semibold text-left bg-gray-100 rounded-lg border border-gray-200 cursor-not-allowed">
                <%= character.name %>
              </div>
            <% else %>
              <%= button_to character.name, select_character_path(character), class: "block p-4 w-full font-semibold text-left bg-gray-100 rounded-lg border border-gray-200 cursor-pointer hover:bg-green-100 hover:border-green-400" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-center">
        <%= t(".empty") %>
        <%= link_to t(".new_character"), new_character_path, class: "underline" %>
      </p>
    <% end %>

    <%= form_tag sessions_path, class: "mt-8", method: :delete do %>
      <button type="submit" class="block mx-auto text-sm text-gray-600 cursor-pointer hover:underline">
        <%= t(".sign_out") %>
      </button>
    <% end %>
  </div>
</main>
